@model CIS726_Assignment2.Models.Course

@{
    ViewBag.Title = "Course Details";
}

<div class="contentbox">
    <div class="liquid_100">
        <h2>@Html.DisplayFor(model => model.courseHeader)</h2>
        <hr/>
        @Html.Partial("CourseDetailsPartial", Model)
        <p>
            @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=Model.ID }) |
            @Html.ActionLink("Back to Course List", "Index")
        </p>
    </div>
</div>
