@model MessageParser.Models.Plan

@{
    ViewBag.Title = "Create a Plan of Study";
}

<div class="contentbox">
    <div class="liquid_100">
        <h2>Create New Plan of Study</h2>

@using (Html.BeginForm("Create", "Plans", FormMethod.Post, new { @id = "editform" }))
{
        @Html.ValidationSummary(true)
        <fieldset>
            <legend>Basic Plan of Study Information</legend>
            <ol>
                <li>
                    @Html.LabelFor(model => model.planName)
                    @Html.EditorFor(model => model.planName)
                    @Html.ValidationMessageFor(model => model.planName)
                </li>
                <li>
                    @Html.LabelFor(model => model.degreeProgramID, "Degree Program")
                    @Html.DropDownList("degreeProgramID", String.Empty)
                    @Html.ValidationMessageFor(model => model.degreeProgramID)
                </li>
            @if(ViewBag.Advisor == true){
                <li>
                    @Html.LabelFor(model => model.userID, "Username")
                    @Html.DropDownList("userID", String.Empty)
                    @Html.ValidationMessageFor(model => model.userID)
                </li>
            }else{
                    @Html.Hidden("userID", (object)ViewBag.userID)
            }   
                <li>
                    @Html.LabelFor(model => model.semesterID, "Starting Semester")
                    @Html.DropDownList("semesterID", String.Empty)
                    @Html.ValidationMessageFor(model => model.semesterID)
                </li>
            </ol>
        </fieldset>
        <p>
            <input type="submit" value="Create" />
        </p>
}
        <p>
            @Html.ActionLink("Back to Plan of Study List", "Index")
        </p>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
