<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        <nav class="top_menu">
            <ul>
                @Html.Partial("LoginPartial")
            </ul>
        </nav>

        <div class ="label">
            <p>Ready Player One</p>
        </div>

        <div>
            <!-- Search -->
        </div>
    </div>
    
    
    <div id="content">
        @RenderBody()
    </div>

    <div id="footer">
        <!-- Might put a site map here. -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
