<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div id="header">
        <nav class="top_menu">
            <ul>
                @Html.Partial("LoginPartial")
            </ul>
        </nav>

        <div class ="label">
            <p>Ready Player One</p>
        </div>

        <div class ="searchForm">
            @{
                int pageNum = (ViewBag.PageNumber != null) ? ViewBag.PageNumber : 0;
                string pointType = (ViewBag.PointType != null) ? ViewBag.PointType : "";
            }

            @using (Ajax.BeginForm("/JS/AJAX/SearchUser", new AjaxOptions() { OnSuccess = "searchAjaxSuccess" }))
            {
                <input type="input" id ="userName" name="userName" placeholder="Search for a User" />
                <input type="hidden" id="currentPage" name="currentPage" value="@pageNum" />
                <input type="hidden" id="pointType" name="pointType" value="@pointType" />
                <input type="submit" value="Search"/>
            }
        </div>
        <div>
            <!-- Search -->
        </div>
    </div>
    <nav class="transbox2 navbar">
        <ul>
            <li class="navItem">
                <p>@Html.ActionLink("Scoreboard", "Index", "Scoreboard")</p>
            </li>
            <li class="navItem">
                <p>@Html.ActionLink("Tasks", "Index", "Task")</p>
            </li>
        </ul>
    </nav>
    
    
    <div id="content">
        @if (!string.IsNullOrEmpty((string)TempData["StatusMessage"]))
        {
            <span class="statusMessage">
                @TempData["StatusMessage"]
            </span>
        }
        @RenderBody()
    </div>

    <div id="footer">
        <!-- Might put a site map here. -->
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @RenderSection("scripts", required: false)
</body>
</html>
