@model CIS726_Assignment2.ViewModels.RegisterModel
@{
    ViewBag.Title = "Register";
}

<div class="contentbox">
    <div class="liquid_100">

@using (Html.BeginForm("Register", "Accounts", FormMethod.Post, new { @id = "editform" }))
{
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <fieldset>
            <h2><legend>Register an Account</legend></h2>
            <ol>
                <li>
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)
                </li>
                <li>
                    @Html.LabelFor(m => m.realName)
                    @Html.TextBoxFor(m => m.realName)
                </li>
                <li>
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                </li>
            </ol>
        </fieldset>
        <p>
            <input type="submit" value="Register" />
        </p>
}
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
