@model IEnumerable<Demo.Models.UserProfile>

@{
    ViewBag.Title = "View1";
}

<h2>View1</h2>

<div class="scoreboardContainer">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalScore)
            </th>
        </tr>

        @{int i = 0;}
    @foreach (var item in Model)
    {

        string name = "record" + i;
        <tr id="@name">
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalScore)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
        
        i++;
    }

    </table>
</div>

<div class="scoreboardDetailContainer">

</div>

@section Scripts{
    @Scripts.Render(@"~\Scripts\inifiniteScrolling.js")
}