@model IEnumerable<Demo.Models.ScoreboardRecord>

<div class="transbox">
    <h1>ScoreBoard</h1>
    <table class="leaderboardTable" id="ScoreboardTable">
        <!-- <tr id="leaderboardHeader">
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.CompletedTask)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Score)
            </th>
        </tr> -->

        @{int i = 0;}
        @foreach (var item in Model)
        {                
            string name = "record" + i;
            int displayValue = i + 1;
            string classes = "leaderboardRecords";
            if (i < 10) { classes += " topTen"; }
                
            <tr class="@classes" id="@name">
                <td>
                    @displayValue.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>
                <td>
                    @foreach (var milestone in item.User.CompletedTask)
                    {
                        string source = milestone.Task.IconLink;
                        string altText = milestone.Task.Description;
                        
                        <img src="@Url.Content(source)" title="@altText" class="milestoneIcon"/>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Score)
                </td>
            </tr>
        
            i++;
        }
    </table>
</div>