@model CIS726_Assignment2.ViewModels.LocalPasswordModel

@using (Html.BeginForm("Manage", "Accounts", FormMethod.Post, new { @id = "editform" } ))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <h2><legend>Change Password</legend></h2>
        <ol>
            <li>
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
    </fieldset>
    <p>
        <input type="submit" value="Change password" />
    </p>
}
