@model IEnumerable<Demo.Models.Task>

@{
    ViewBag.Title = "Index";
}

<h2>Milestones</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="taskTable">
    <tr>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.IsMilestone)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.PointPath.Name)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.BonusPoints)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.MaxBonusAwards)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (!item.IsMilestone)
    { continue; }
    <tr>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.IsMilestone)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.PointPath.Name)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.BonusPoints)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.MaxBonusAwards)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.StartTimeDisplay)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.EndTimeDisplay)
        </td>
        <td class="taskItem">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>

<h2>Tasks</h2>

<table class="taskTable">
    <tr>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.IsMilestone)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.PointPath.Name)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.BonusPoints)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.MaxBonusAwards)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th class="taskItem">
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.IsMilestone)
    { continue; }
    <tr>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.IsMilestone)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.PointPath.Name)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.BonusPoints)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.MaxBonusAwards)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.StartTimeDisplay)
        </td>
        <td class="taskItem">
            @Html.DisplayFor(modelItem => item.EndTimeDisplay)
        </td>
        <td class="taskItem">
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>
